
    <div class="flex flex-row items-start justify-between bg-gray-500 ">
        <!-- Sidebar -->
        <nav class="flex-col h-screen xl:max-w-sm lg:max-w-md md:max-w-md sm:max-w-full xs:max-w-full bg-gray-500 z-10 xl:relative lg:absolute md:absolute sm:absolute xs:absolute overflow-y-auto" [class.hidden]="isOpenSidebar">
            <div class="flex items-center justify-between h-24 text-white text-center bg-gray-900 p-4">
                <img class="w-20 h-20" src="/assets/img/logo.svg" alt="">
                <h1 class=" lg:w-1/3 md:w-1/3 sm:w-1/3 xs:w-1/3 xl:w-1/2 ml-6 text-4xl text-white font-bold leading-none">IoT Monitor</h1>
                <div class="w-1/3 xl:hidden lg:w-1/3 md:w-1/3 sm:w-1/3 xs:w-1/3 flex justify-end">
                    <button (click)="openSidebar()" type="button" class="relative text-white mr-10 text-center">
                        <svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                    </button>
                </div>
            </div>
            <div class="flex-col items-start justify-start text-gray-700 text-center bg-gray-500 p-4 overflow-y-auto">

                <h1 class="text-left text-white text-4xl font-bold">Device form</h1>
                <h3 class="text-left text-white opacity-75 font-semibold text-2xl">Fill this form and add devices to monitorizing list</h3>
        
                <!-- Form Add Device -->
                <form class="w-full mt-3 flex-col" [formGroup]="deviceForm">
                    <div class="mb-4">
                        <label class="text-left block text-white opacity-75 text-2xl font-medium mb-2" for="name-device">
                        Name
                        </label>
                        <input formControlName="name" name="name" class="bg-gray-300 appearance-none border-3 border-gray-300 rounded w-full py-2 px-4 text-2xl text-white leading-tight  focus:border-gray-100 h-16" id="name-device" type="text" value="Jane Doe">
                        <div *ngFor="let validation of validationMessages.name">
                            <p *ngIf="deviceForm.get('name').hasError(validation.type) && deviceForm.get('name').touched" class="text-left text-red-100 text-md italic">{{ validation.message}}</p>
                        </div>
                    </div>
                    <div class="mb-4 ">
                        <label class="text-left block text-white opacity-75 text-2xl font-medium mb-2" for="name-device">
                        Image
                        </label>
                        <div class="inline-bloc relative w-full container-input rounded bg-gray-300 h-16">
                            <span class="text-left text-white text-2xl py-4 absolute ml-3 text-input-file" >{{ textInputFile }}</span>
                            <input formControlName="image" (change)="onSelectFile($event)" type="file" accept=".png,.jpeg,.jpg" class="opacity-0 bg-gray-300 appearance-none border-3 border-gray-300 rounded w-full py-2 px-4 text-2xl text-white leading-tight  focus:border-gray-100 h-16 " id="name-device" />
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
                                <svg class="h-8 w-8 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"/></svg>
                            </div>
                        </div>
                       
                    </div>
                    <div class="mb-4">
                        <label class="text-left block text-white opacity-75 text-2xl font-medium mb-2" for="name-device">
                        Description
                        </label>
                        <textarea formControlName="description" name="description" style="resize: none;" rows="3" class="bg-gray-300 appearance-none border-3 border-gray-300 rounded w-full py-2 px-4 text-2xl text-white leading-tight  focus:border-gray-100 max-h-md" id="name-device" ></textarea>
                        <div *ngFor="let validation of validationMessages.description">
                            <p *ngIf="deviceForm.get('description').hasError(validation.type) && deviceForm.get('description').touched" class="text-left text-red-100 text-md italic">{{ validation.message}}.</p>
                          </div>
                    </div>
                    <div class="mb-4">
                        <label class="text-left block text-white opacity-75 text-2xl font-medium mb-2" for="name-device">
                        Monitorizing
                        </label>
                        <div class="relative w-full">
                            <select formControlName="monitorizing" name="monitorizing" class="bg-gray-300 appearance-none border-3 border-gray-300 rounded w-full py-2 px-4 text-2xl text-white leading-tight  focus:border-gray-100 h-16" id="name-device" >
                                <option [value]="true">Enabled</option>
                                <option [value]="false">Disabled</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
                                <svg class="h-8 w-8 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full">
                        <button type="button" (click)="addDevice()" [disabled]="!deviceForm.valid" [class.opacity-50]="!deviceForm.valid" class="bg-indigo-100 hover:bg-indigo-300 text-white text-2xl font-bold py-2 px-4 mt-4 rounded h-16 w-full">
                                Add Device
                        </button>
                        <div *ngIf="loading" class="loader-container pointer-events-none absolute bottom-0 top-23 right-0 left-0">
                            <div class="loader text-sm"></div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <!-- Container -->
        <div class="flex-col w-full min-h-screen bg-gray-100">
            
            <!-- Navbar -->
            <nav class="flex h-24 bg-white items-center justify-between px-10">

                <div class="w-1/7">
                    <button (click)="openSidebar()" type="button" class="relative text-gray-900 mr-10 text-center">
                        <svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                    </button>
                </div>

                <!-- Input Autocomplete -->
                <div class="w-1/2 xl:max-w-5xl">
                    <div class="relative">
                        <div class="block relative w-full">
                            <input class="bg-gray-100  border-3 border-gray-100   rounded w-full py-2 px-4 text-2xl text-gray-900 leading-tight focus:border-gray-100 h-16" id="search-device" placeholder="Type to search by name..."/>
                            <div id="img-search-input" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-300">
                                <svg class="h-6 w-6 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/></svg>
                            </div>
                        </div>
                        <div class="z-10 bg-white w-full h-64 overflow-y-auto absolute rounded-lg shadow-md" [class.hidden]="true">
                            <a href="#" class="block text-lg p-4 hover:bg-indigo-100 hover:text-white text-gray-900">Name Device</a>
                            <a href="#" class="block text-lg p-4 hover:bg-indigo-100 hover:text-white text-gray-900">Name Device</a>
                            <a href="#" class="block text-lg p-4 hover:bg-indigo-100 hover:text-white text-gray-900">Name Device</a>
                            <a href="#" class="block text-lg p-4 hover:bg-indigo-100 hover:text-white text-gray-900">Name Device</a>
    
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="w-1/2 md:w-2-4 flex justify-end">

                    <div class="relative">
                        <button type="button" class="relative text-gray-900 mr-10 text-center">
                            <svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M4 8a6 6 0 0 1 4.03-5.67 2 2 0 1 1 3.95 0A6 6 0 0 1 16 8v6l3 2v1H1v-1l3-2V8zm8 10a2 2 0 1 1-4 0h4z"/></svg>
                        </button>
                        <div class="z-10 bg-white w-auto h-2xl overflow-y-auto absolute rounded-lg right-39 p-4 shadow-md mt-2"  [class.hidden]="true">

                            <button class="bg-indigo-200 w-full p-2 text-white rounded ">Mark all as read</button>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left font-semibold text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>

                            <div class="w-64 max-w-3xl ml-2 p-2 bg-white items-center text-gray-900 leading-none flex lg:inline-flex " role="alert">
                                <span class="mr-2 text-left text-md">Device Marc Aut has been disabled</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>
                        </div>
                    </div>

                    <!-- User options -->
                    <div class="relative">
                        <button (click)="userDropdown = !userDropdown">                        
                            <img class="w-10 h-10" src="/assets/img/avatar.png" alt="">
                        </button>
                        <div *ngIf="userDropdown" class="z-10 bg-white w-56 h-20 overflow-y-auto absolute rounded-lg right-0 p-4 shadow-md mt-2">
                            <button (click)="logout()" class="bg-white w-full p-2 text-gray-900 font-semibold rounded ">Logout</button>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="h-full w-full py-4 px-8">
                <!-- Pages -->
                <router-outlet></router-outlet>
            </div>

            <!-- Alerts -->
            <div *ngIf="isPresentSuccess" class="alert fixed p-2 bg-indigo-100 items-center text-white leading-none rounded-full flex lg:inline-flex" role="alert">
                <span class="flex rounded-full bg-indigo-200 uppercase px-2 py-1 text-xs font-bold mr-3">Success</span>
                <span class="font-semibold mr-2 text-left flex-auto">{{ successMessage }} </span>
                <svg class="close-alert fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM11.4 10l2.83-2.83-1.41-1.41L10 8.59 7.17 5.76 5.76 7.17 8.59 10l-2.83 2.83 1.41 1.41L10 11.41l2.83 2.83 1.41-1.41L11.41 10z"/></svg>
            </div>

            <div *ngIf="isPresentError" class="alert fixed p-2 bg-red-900 items-center text-white leading-none rounded-full flex lg:inline-flex" role="alert">
                <span class="flex rounded-full bg-red-100 uppercase px-2 py-1 text-xs font-bold mr-3">Error</span>
                <span class="font-semibold mr-2 text-left flex-auto">{{ errorMessage }}</span>
                <svg class="close-alert fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zM11.4 10l2.83-2.83-1.41-1.41L10 8.59 7.17 5.76 5.76 7.17 8.59 10l-2.83 2.83 1.41 1.41L10 11.41l2.83 2.83 1.41-1.41L11.41 10z"/></svg>
            </div>
        </div>        
    </div>





