<div class="flex-col bg-gray-100">
    
    <!-- Overall Status -->
    <div >

        <!-- Title -->
        <h1 class="text-4xl text-gray-800 font-bold ml-4">Welcome to IoT Monitor</h1>
        <h3 class="text-left text-gray-800 opacity-75 font-semibold text-2xl  ml-4">Manage your devices and montitorize its status</h3>

        <!-- Charts -->
        <div class="flex xl:flex-row xs:flex-col sm:flex-col items-start justify-between">
            <div class="w-1/2 sm:w-full  xs:w-full py-4">
                <!-- Card 1 -->
                <div class="flex sm:flex-row xs:flex-col rounded overflow-hidden shadow-lg bg-white px-8 py-6 m-4">
                    <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 xs:w-full xs:p-0 sm:p-4 md:p-4 lg:p-4 xl:p-4 ">
                        <div class="w-full sm:h-full md:h-full lg:h-full xl:h-full xs:h-40">
                            <canvas  id="chart-overall-status" #chartOverallStatus></canvas>
                        </div>
                    </div>
                    <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 xs:w-full  py-3">
                        <div class="flex items-center">
                            <div class="inline-block bg-gray-300 h-6 w-8 rounded mr-2"></div>
                            <label class="text-gray-800 text-2xl">Fail</label>
                        </div>
                        <div class="flex items-center">
                            <div class="inline-block bg-indigo-100 h-6 w-8 rounded mr-2"></div>
                            <label class="text-gray-800 text-2xl">OK</label>
                        </div>
                        <h2 class="text-xl  font-semibold text-gray-800 mt-2">Devices Overall Status</h2>
                        <span class="text-lg font-normal text-gray-800">This is the actual status of your devices.</span>
                        <br>
                        <span *ngIf="!isUpdating" class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mt-3">
                            <svg class="inline-block w-4 h-4 fill-current pb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>
                            Updated</span>
                        <span *ngIf="isUpdating" class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mt-3">
                            <svg class="inline-block w-4 h-4 fill-current pb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3v2a5 5 0 0 0-3.54 8.54l-1.41 1.41A7 7 0 0 1 10 3zm4.95 2.05A7 7 0 0 1 10 17v-2a5 5 0 0 0 3.54-8.54l1.41-1.41zM10 20l-4-4 4-4v8zm0-12V0l4 4-4 4z"/></svg>
                            Updating...</span>
                    </div>
                </div>
            </div>
            <div class="w-1/2 sm:w-full xs:w-full py-4">
                <!-- Card 2 -->
                <div class="flex sm:flex-row xs:flex-col rounded overflow-hidden shadow-lg bg-white px-8 py-6 m-4">
                    <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 xs:w-full xs:p-0 sm:p-4 md:p-4 lg:p-4 xl:p-4 ">
                        <canvas  id="chart-devices-monitoring" #chartDevicesMonitoring ></canvas>
                    </div>
                    <div class="sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 xs:w-full  py-3">
                        <div class="flex items-center">
                            <div class="inline-block bg-gray-300 h-6 w-8 rounded mr-2"></div>
                            <label class="text-gray-800 text-2xl">Disabled</label>
                        </div>
                        <div class="flex items-center">
                            <div class="inline-block bg-indigo-100 h-6 w-8 rounded mr-2"></div>
                            <label class="text-gray-800 text-2xl">Enabled</label>
                        </div>
                        <h2 class="text-xl font-semibold text-gray-800 mt-2">Devices Monitored</h2>
                        <span class="text-lg font-normal text-gray-800">Devices currently monitored by
                            IoT Monitor.</span>
                        <br>
                        <span *ngIf="!isUpdating" class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mt-3">
                            <svg class="inline-block w-4 h-4 fill-current pb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM6.7 9.29L9 11.6l4.3-4.3 1.4 1.42L9 14.4l-3.7-3.7 1.4-1.42z"/></svg>
                            Updated</span>
                        <span *ngIf="isUpdating" class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mt-3">
                            <svg class="inline-block w-4 h-4 fill-current pb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 3v2a5 5 0 0 0-3.54 8.54l-1.41 1.41A7 7 0 0 1 10 3zm4.95 2.05A7 7 0 0 1 10 17v-2a5 5 0 0 0 3.54-8.54l1.41-1.41zM10 20l-4-4 4-4v8zm0-12V0l4 4-4 4z"/></svg>
                            Updating...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Devices List -->
    <div>

        <!-- Title -->
        <div class="xl:flex lg:flex md:flex sm:flex  justify-between items-center">
            <div class="w-1/2">
                <h1 class="text-4xl text-gray-800 font-bold ml-4">Devices</h1>
                <h3 class="text-left text-gray-800 opacity-75 font-semibold text-2xl  ml-4">List of your devices</h3>
            </div>
        
            <!-- Navigation Buttons -->
            <div class="w-1/2 flex xs:w-full xl:justify-end lg:justify-end md:justify-end sm:justify-end xs:justify-center pr-4">
                <div class="inline-flex">
                    <button [disabled]="paginator === 0"  [class.opacity-50]="paginator === 0" (click)="prev()" class="bg-indigo-100 hover:bg-gray-400 text-lg  text-white h-12 w-24 font-bold py-2 px-4 rounded-l">
                      Prev
                    </button>
                    <button [disabled]="!isEnabledNext"  [class.opacity-50]="!isEnabledNext" (click)="next()" class="bg-indigo-100 hover:bg-gray-400 text-lg text-white h-12 w-24 font-bold py-2 px-4 rounded-r">
                      Next
                    </button>
                  </div>
                </div>
        </div>

        <!-- List -->
        <div class="flex flex-wrap justify-start mt-3">

            <!-- Devices -->
            <div *ngFor="let device of shownDevices" class="xl:w-1/5 lg:w-1/5 md:w-1/3 sm:w-full xs:w-full p-3">
                <a routerLink="/admin/details/{{device.id}}">
                    <div class="flex-col rounded overflow-hidden shadow-lg bg-white">
                        <div class="w-full pt-5 px-6">
                            <span class="block text-lg font-semibold text-gray-800 leading-none ">{{ device.name }}</span>
                        </div>
                        <div class="w-full px-5 flex items-center justify-start">
                            <img  class="w-12 h-12 inline-block" src="{{ device.image }}" alt="">
    
                            <div *ngIf="device.status === 'fail'" class="ml-2 p-2 bg-red-900 items-center text-white leading-none rounded-full flex lg:inline-flex" role="alert">
                                <span class="mr-2 text-left flex-auto text-md">Fail</span>
                                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                            </div>
    
                            <div *ngIf="device.status !== 'fail'" class="ml-2 p-2 bg-green items-center text-white leading-none rounded-full flex lg:inline-flex" role="alert">
                                <span class=" mr-2 text-left flex-auto">OK</span>
                                <svg class="close-alert fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z"/></svg>
                            </div>
                        </div>
                        <div class="w-full px-5">
                            <span class="text-md font-norma text-gray-800">{{ device.description }}</span>
                        </div>
                        <div class="w-full px-5 pb-5 mt-1 flex justify-end ">
                            <span style="cursor: pointer;" (click)="update(device.id, device.enabled)" *ngIf="device.enabled" class="block bg-purple-100 px-3 py-1 rounded-full text-xs  text-indigo-100 ">
                                <svg class="w-4 h-4 inline-block fill-current pb-1 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
                                Monitoring
                            </span>
                            <span style="cursor: pointer;" (click)="update(device.id, device.enabled)" *ngIf="!device.enabled" class="block bg-gray-100 px-3 py-1 rounded-full text-xs  text-gray-500 ">
                                <svg class="w-4 h-4 inline-block fill-current pb-1 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.81 4.36l-1.77 1.78a4 4 0 0 0-4.9 4.9l-2.76 2.75C2.06 12.79.96 11.49.2 10a11 11 0 0 1 12.6-5.64zm3.8 1.85c1.33 1 2.43 2.3 3.2 3.79a11 11 0 0 1-12.62 5.64l1.77-1.78a4 4 0 0 0 4.9-4.9l2.76-2.75zm-.25-3.99l1.42 1.42L3.64 17.78l-1.42-1.42L16.36 2.22z"/></svg>
                                Disabled
                            </span>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>

</div>   